@import 'leaflet-draw/dist/leaflet.draw.css';
@import 'leaflet/dist/leaflet.css';

@font-face {
  font-family: iranSans;
  src: url(./fonts/iran-sans/IRANSansX-Regular.woff2);
}

@font-face {
  font-family: iranSans;
  weight: 700;
  src: url(./fonts/iran-sans/IRANSansX-Bold.woff2);
}

// app global css in SCSS form
@font-face {
  font-family: YekanBakh;
  src: url(./fonts/yekan-bakh/YekanBakh-VF.woff);
}

@font-face {
  font-family: Peyda;
  weight: 400;
  src: url(./fonts/peyda/peyda-regular.ttf);
}

@font-face {
  font-family: Peyda;
  weight: 500;
  src: url(./fonts/peyda/peyda-medium.ttf);
}

@font-face {
  font-family: Peyda;
  weight: 600;
  src: url(./fonts/peyda/peyda-bold.ttf);
}

@font-face {
  font-family: Peyda;
  weight: 700;
  src: url(./fonts/peyda/peyda-semi-bold.ttf);
}

.my-font {
  font-family: 'iranSans', 'YekanBakh', 'Peyda';
}

body {
  font-family: 'iranSans', 'YekanBakh', 'Peyda';
}

.rounded-border-lg {
  border-radius: 32px;
}

.rounded-border-sm {
  border-radius: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
